body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Papyrus Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  background-color: #276749; 
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameTitle {
  color: beige;
  text-align: center;
  font-size: 18vh; /* Responsive based on viewport height */
}

#gameModeButtons button {
  margin: 10vh 2vw; /* Responsive spacing */
  padding: 1vw 2vw; /* Responsive padding */
  font-size: 4vh; /* Responsive font size */
  border-radius: 2vw; /* Responsive border-radius */
  cursor: pointer;
  color: #5C4033;
  background-color: beige;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#gameModeDirections {
  color: beige;
  text-align: center;
  font-size: 4vh; /* Responsive font size */
}

#mapContainer {
  position: relative;
  width: 90%;
  height: auto;
  transform: translateX(8vh);
}

#worldMap {
  width: 100%;
  height: auto;
  display: block;
}

.continentButton {
  position: absolute;
  background-color: beige;
  color: #5C4033;
  border: none;
  border-radius: 2vw; /* Responsive border-radius */
  padding: 1vw; /* Responsive padding */
  cursor: pointer;
  z-index: 1; 
  font-weight: bolder;
  font-size: 1.5vh; /* Responsive font size */
}

.continentButton:hover {
  background-color: #eae0c8; 
  color: #4a3c30;
}

.timerBox {
  position: fixed;
  top: 2vh; /* Responsive top spacing */
  right: 2vw; /* Responsive right spacing */
  background: beige;
  padding: 1vh 1vw; /* Responsive padding */
  border-radius: 1vh; /* Responsive border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #5C4033;
  font-size: 4vh; /* Responsive font size */
}

.scoreBox {
  position: fixed;
  top: 2vh; /* Responsive top spacing */
  right: 2vw; /* Responsive right spacing */
  background: beige;
  padding: 1vh 1vw; /* Responsive padding */
  border-radius: 1vh; /* Responsive border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #5C4033;
  font-size: 4vh; /* Responsive font size */
  transform: translateX(-155vh);
}

.textInput, .submitButton {
  font-size: 1.5vh; /* Responsive font size */
  padding: 1vh 1vw; /* Responsive padding */
  border-radius: 0.5vh; /* Responsive border-radius */
  border: 2px solid beige;
  margin-right: 1vw; /* Responsive margin */
  transform: translateX(40vh) translateY(25vh);
}

.previousGuessesBox {
  background: beige;
  border-radius: 1vh; /* Responsive border-radius */
  padding: 1vh 1vw; /* Responsive padding */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #5C4033;
  font-size: 1.5vh; /* Responsive font size */
  margin-bottom: 2vh; /* Responsive margin */
  height: 40vh; /* Responsive height */
  overflow-y: auto; 
  transform: translateX(-30vh) translateY(-35vh);
  width: 20vw; 
}

.hintBox {
  background: beige;
  border-radius: 1vh; /* Responsive border-radius */
  padding: 1vh 1vw; /* Responsive padding */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #5C4033;
  font-size: 1.5vh; /* Responsive font size */
  margin-bottom: 2vh; /* Responsive margin */
  height: 15vh; /* Responsive height */
  overflow-y: auto; 
  transform: translateX(-30vh) translateY(-35vh);
  width: 20vw; 
}

.imageContainer img {
  height: 50vh;
  width: 50vw;    
  display: block;  
  transform: translateX(40vh);
  object-fit: contain;
}

.rightColumn {
  align-items: center;
}

.imageContainer {
  max-width: 45vw; /* Responsive width */
  margin: auto;     /* Center the container if it's smaller than the parent */
  transform: translateY(20vh);
}
