body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Papyrus Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  background-color: #276749; 
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameTitle {
  color: beige;
  text-align: center;
  font-size: 18vh; /* Responsive based on viewport height */
}

#gameModeButtons button {
  margin: 10vh 2vw; /* Responsive spacing */
  padding: 1vw 2vw; /* Responsive padding */
  font-size: 4vh; /* Responsive font size */
  border-radius: 2vw; /* Responsive border-radius */
  cursor: pointer;
  color: #5C4033;
  background-color: beige;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#gameModeDirections {
  color: beige;
  text-align: center;
  font-size: 4vh; /* Responsive font size */
}

#mapContainer {
  position: relative;
  width: 90%;
  height: auto;
  transform: translateX(8vh);
}

#worldMap {
  width: 100%;
  height: auto;
  display: block;
}

.continentButton {
  position: absolute;
  background-color: beige;
  color: #5C4033;
  border: none;
  border-radius: 2vw; /* Responsive border-radius */
  padding: 1vw; /* Responsive padding */
  cursor: pointer;
  z-index: 1; 
  font-weight: bolder;
  font-size: 1.5vh; /* Responsive font size */
}

.continentButton:hover {
  background-color: #eae0c8; 
  color: #4a3c30;
}

.timerBox {
  position: fixed;
  top: 2vh; /* Responsive top spacing */
  right: 2vw; /* Responsive right spacing */
  background: beige;
  padding: 1vh 1vw; /* Responsive padding */
  border-radius: 1vh; /* Responsive border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #5C4033;
  font-size: 4vh; /* Responsive font size */
}

.scoreBox {
  left: 4vh;
  top: 2vh;
  position: fixed;
  background: beige;
  padding: 1vh 1vw; /* Responsive padding */
  border-radius: 1vh; /* Responsive border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #5C4033;
  font-size: 4vh; /* Responsive font size */
}

.textInput, .submitButton {
  font-size: 1.5vh; /* Responsive font size */
  padding: 1vh 1vw; /* Responsive padding */
  border-radius: 0.5vh; /* Responsive border-radius */
  border: 2px solid beige;
  margin-right: 1vw; /* Responsive margin */
  transform: translateX(40vh) translateY(25vh);
}

.previousGuessesBox {
  background: beige;
  border-radius: 1vh; /* Responsive border-radius */
  padding: 1vh 1vw; /* Responsive padding */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #5C4033;
  font-size: 1.5vh; /* Responsive font size */
  margin-bottom: 2vh; /* Responsive margin */
  height: 40vh; /* Responsive height */
  overflow-y: auto; 
  transform: translateX(-30vh) translateY(-35vh);
  width: 20vw; 
}

.hintBox {
  background: beige;
  border-radius: 1vh; /* Responsive border-radius */
  padding: 1vh 1vw; /* Responsive padding */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #5C4033;
  font-size: 1.5vh; /* Responsive font size */
  margin-bottom: 2vh; /* Responsive margin */
  height: 15vh; /* Responsive height */
  overflow-y: auto; 
  transform: translateX(-30vh) translateY(-35vh);
  width: 20vw; 
}

.imageContainer img {
  height: 50vh;
  width: 50vw;    
  display: block;  
  transform: translateX(40vh);
  object-fit: contain;
}

.rightColumn {
  align-items: center;
}

.imageContainer {
  max-width: 45vw; /* Responsive width */
  margin: auto;     /* Center the container if it's smaller than the parent */
  transform: translateY(20vh);
}

.scoreboard-container {
  margin: 10px;
}

.scoreboard-title {
  text-align: center;
  color: beige; /* Sets the title color to beige */
  font-size: 8vh;
  transform: translateY(-5vh);
}

.scoreboard-table {
  width: 100%; /* Sets the table to fit the width of the container */
  border-collapse: collapse; /* Collapses the border to remove any space between them */
}

.scoreboard-table th,
.scoreboard-table td {
  border-bottom: 2px solid #ddd; /* Adds a line between each row */
  padding: 8px;
  color: beige; /* Sets the text color in the table to beige */
  font-size: 5vh;
  padding-left: 100px; /* Adjust this value as needed for more space on the left */
  padding-right: 100px;
  padding-top: 20px; /* Adjust this value as needed for more space on the left */
  padding-bottom: 20px;
}

/* Add this to remove the border for the last row */
.scoreboard-table tr:last-child td {
  border-bottom: none;
}

/* Adjust this if you want a specific font size for the table data */
.scoreboard-table td {
  font-size: 4vh; /* Example to set the font size, adjust as needed */
}

/* Make sure the headers are bold and perhaps a slightly different color if needed */
.scoreboard-table th {
  font-weight: bold;
  color: beige; /* Beige color for header text */
}

.playAgain-button {
  position: absolute;
  background-color: beige;
  color: #5C4033;
  border: none;
  border-radius: 1vw; /* Responsive border-radius */
  padding: 1vw; /* Responsive padding */
  cursor: pointer;
  z-index: 1; 
  font-weight: bolder;
  font-size: 2.5vh; /* Responsive font size */
  top: 20px; /* Adjust the value to align with the top */
  left: 20px; /* Align with the left side */
  width: 20vh
}

.quit-button {
  position: absolute;
  background-color: beige;
  color: #5C4033;
  border: none;
  border-radius: 1vw; /* Responsive border-radius */
  padding: 1vw; /* Responsive padding */
  cursor: pointer;
  z-index: 1; 
  font-weight: bolder;
  font-size: 2.5vh; /* Responsive font size */
  top: 20px; /* Adjust the value to align with the top */
  right: 20px; /* Align with the right side */
  width: 20vh
}