body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Papyrus Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  background-color: #276749; 
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameTitle {
  color: beige;
  text-align: center;
  font-size: 18vh;
}

#gameModeButtons button {
  margin: 10vh 2vw;
  padding: 1vw 2vw;
  font-size: 4vh;
  border-radius: 2vw;
  cursor: pointer;
  color: #5C4033;
  background-color: beige;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#gameModeDirections {
  color: beige;
  text-align: center;
  font-size: 4vh;
}

#mapContainer {
  position: relative;
  width: 90%;
  height: auto;
  transform: translateX(8vh);
}

#worldMap {
  width: 100%;
  height: auto;
  display: block;
}

.continentButton {
  position: absolute;
  background-color: beige;
  color: #5C4033;
  border: none;
  border-radius: 2vw;
  padding: 1vw;
  cursor: pointer;
  z-index: 1; 
  font-weight: bolder;
  font-size: 1.5vh;
}

.continentButton:hover {
  background-color: #eae0c8; 
  color: #4a3c30;
}

.timerBox {
  position: fixed;
  top: 2vh;
  right: 2vw;
  background: beige;
  padding: 1vh 1vw;
  border-radius: 1vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #5C4033;
  font-size: 4vh;
}

.scoreBox {
  left: 4vh;
  top: 2vh;
  position: fixed;
  background: beige;
  padding: 1vh 1vw;
  border-radius: 1vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #5C4033;
  font-size: 4vh;
}

.remainingBox {
  left: 70vh;
  top: 2vh;
  position: fixed;
  background: beige;
  padding: 1vh 1vw;
  border-radius: 1vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #5C4033;
  font-size: 4vh;
}

.textInput, .submitButton {
  font-size: 1.5vh;
  padding: 1vh 1vw;
  border-radius: 0.5vh;
  border: 2px solid beige;
  margin-right: 1vw;
  transform: translateX(40vh) translateY(25vh);
}

.previousGuessesBox {
  background: beige;
  border-radius: 1vh;
  padding: 1vh 1vw;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #5C4033;
  font-size: 1.5vh;
  margin-bottom: 2vh;
  height: 40vh;
  overflow-y: auto; 
  transform: translateX(-30vh) translateY(-35vh);
  width: 20vw; 
}

.hintBox {
  background: beige;
  border-radius: 1vh;
  padding: 1vh 1vw;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #5C4033;
  font-size: 1.5vh;
  margin-bottom: 2vh;
  height: 15vh;
  overflow-y: auto; 
  transform: translateX(-30vh) translateY(-35vh);
  width: 20vw; 
}

.imageContainer img {
  height: 50vh;
  width: 50vw;    
  display: block;  
  transform: translateX(40vh);
  object-fit: contain;
}

.rightColumn {
  align-items: center;
}

.imageContainer {
  max-width: 45vw;
  margin: auto;
  transform: translateY(20vh);
}

.scoreboard-container {
  margin: 10px;
}

.scoreboard-title {
  text-align: center;
  color: beige;
  font-size: 8vh;
  transform: translateY(-5vh);
}

.scoreboard-table {
  width: 100%;
  border-collapse: collapse;
}

.scoreboard-table th,
.scoreboard-table td {
  border-bottom: 2px solid #ddd;
  padding: 8px;
  color: beige;
  font-size: 5vh;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.scoreboard-table tr:last-child td {
  border-bottom: none;
}

.scoreboard-table td {
  font-size: 4vh;
}

.scoreboard-table th {
  font-weight: bold;
  color: beige;
}

.playAgain-button {
  position: absolute;
  background-color: beige;
  color: #5C4033;
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  cursor: pointer;
  z-index: 1; 
  font-weight: bolder;
  font-size: 2.5vh;
  top: 20px;
  left: 20px;
  width: 20vh
}

.quit-button {
  position: absolute;
  background-color: beige;
  color: #5C4033;
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  cursor: pointer;
  z-index: 1; 
  font-weight: bolder;
  font-size: 2.5vh;
  top: 20px;
  right: 20px;
  width: 20vh
}